.vagrant/
hosts/*
vagrant_ansible_inventory_default
roles/franklinkim.sudo/
roles/franklinkim.ufw/
roles/JasonGiedymin.nodejs/
roles/jdauphant.nginx/
roles/Mayeu.RabbitMQ/
roles/mivok0.users/
roles/Stouts.mongodb/
roles/ANXS.postgresql/
roles/ANXS.openssh/
roles/gdamjan.uwsgi/

files/*
!files/.gitkeep

# Ignore AV licence file
playbooks/files/license.avastlic
roles/quarkslab.avast/files/license.avastlic

# Ignore only stable group_vars
group_vars/all
group_vars/brain
group_vars/frontend
group_vars/probe

# Ignore python files (ansible plugins or scripts)
*.pyc
