.vagrant/
hosts
vagrant_ansible_inventory_default
roles/Ansibles.openssh/
roles/DavidWittman.redis/
roles/franklinkim.sudo/
/*roles/gdamjan.uwsgi/*/
roles/JasonGiedymin.nodejs/
roles/jdauphant.nginx/
roles/Mayeu.RabbitMQ/
roles/mivok0.users/
roles/Stouts.mongodb/
files/*
!files/.gitkeep
