# configuration
config/*.ini

# for python
*.pyc

# for web
web/node_modules
web/app/components
web/dist

# for pip packaging
dist
*.egg-info/

# for debian packages
debian/*.substvars
debian/*.log
debian/files
debian/rules

# other
doc/
.idea/*

.gitmodules
