; {{ ansible_managed  }}

[program:celery]
command = {{ frontend_celery_cmd }}

directory = {{ frontend_install_dir }}
user = nobody
numprocs = 1

stdout_logfile = {{ frontend_celery_logfile }}
stderr_logfile = {{ frontend_celery_logfile }}

autostart = true
stopwaitsecs = 600
killasgroup = true
