# {{ ansible_managed }}

[uwsgi]
app-name = {{ frontend_uwsgi_api_appname }}
master = true

pidfile = {{ frontend_uwsgi_api_pidfile }}
socket = {{ frontend_uwsgi_api_socket }}
logto = {{ frontend_uwsgi_api_logfile }}
log-date = true

processes = 4
plugins = python

base = {{ frontend_install_dir }}

chdir = %(base)
home = %(base)/venv
pythonpath = %(base)/venv

# Bottle mounts
mount = /_api=%(base)/frontend/web/api.py
