# Set the default behavior, in case people don't have core.autocrlf set.
*           text=auto whitespace=space-before-tab,tab-in-indent,tabwidth=4,trailing-space eol=lf
*.yml       text whitespace=space-before-tab,tab-in-indent,tabwidth=4,trailing-space
.git*       text export-ignore

# Ensure that these binarys are, well, binary
*.uue       binary
*.bin       binary
*.zip       binary
*.jpg       binary
