<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="irma"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="state.title">IRMA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/resources/favicon.png" />

    <!-- build:css /styles/combined.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="../node_modules/jsonformatter/dist/json-formatter.min.css" />
    <link rel="stylesheet" href="../node_modules/ng-tags-input/build/ng-tags-input.min.css">
    <!-- endbuild -->
    <base href="/" />
  </head>
  <body konami>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <!-- build:js /scripts/ie.js -->
      <script src="../node_modules/es5-shim/es5-shim.min.js"></script>
      <script src="../node_modules/json3/lib/json3.min.js"></script>
    <!-- endbuild -->
    <![endif]-->


    <div class="container" id="top">
      <div id="header" class="row">
        <div class="col-md-6">
            <a href="/"><img alt="IRMA" src="/resources/logo.jpg" /></a>
        </div>
      </div>

      <ul class="list-inline status" ng-if="!state.settings.maintenance">
        <li class="{{(state.location=='selection')?'active':''}}"><a href="/selection">Selection</a></li>
        <li>&gt;</li>
        <li class="{{(state.location=='scan')?'active':''}}">Scan</li>
        <li>|</li>
        <li class="{{(state.location=='search')?'active':''}}"><a href="/search">Search</a></li>
      </ul>

      <div class="spinner main" ng-if="state.settings.loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div ng-view ng-if="!state.settings.loading"></div>

    </div>

    <alerts></alerts>

    <!-- build:js /scripts/dependencies.js -->
    <!-- Dependencies -->
    <script src="../node_modules/lodash/lodash.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/ng-tags-input/build/ng-tags-input.min.js"></script>
    <script src="../node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="../node_modules/angular-strap/dist/angular-strap.min.js"></script>
    <script src="../node_modules/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="../node_modules/jsonformatter/dist/json-formatter.min.js"></script>
    <script src="../node_modules/angular-capitalize-filter/capitalize.min.js"></script>
    <script src="../node_modules/moment/min/moment.min.js"></script>
    <script src="../node_modules/angular-moment/angular-moment.min.js"></script>
    <script src="../node_modules/ng-table/bundles/ng-table.min.js"></script>
    <script src="../node_modules/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/combined.js -->
    <!-- Scripts -->
    <script src="scripts/irma.module.js"></script>
    <script src="scripts/irma.constants.js"></script>
    <script src="scripts/irma.config.js"></script>
    <script src="scripts/irma.run.js"></script>
    <script src="scripts/controllers/selection.js"></script>
    <script src="scripts/controllers/scan.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/results.js"></script>
    <script src="scripts/controllers/details.js"></script>
    <script src="scripts/controllers/maintenance.js"></script>
    <script src="scripts/directives/alerts.js"></script>
    <script src="scripts/directives/booleanDisplay.js"></script>
    <script src="scripts/directives/konami-ponies.js"></script>
    <script src="scripts/directives/fileTrigger.js"></script>
    <script src="scripts/services/models/uploadModel.js"></script>
    <script src="scripts/services/models/scanModel.js"></script>
    <script src="scripts/services/models/resultModel.js"></script>
    <script src="scripts/services/managers/resultsManager.js"></script>
    <script src="scripts/services/utils/bridge.js"></script>
    <script src="scripts/services/utils/state.js"></script>
    <script src="scripts/services/utils/alerts.js"></script>
    <script src="scripts/services/utils/api.js"></script>
    <script src="scripts/services/utils/dataservice.js"></script>
    <!-- endbuild -->
  </body>
</html>
