<table class="table many-results text-center" ng-if="scan.results">
  <thead>
    <tr>
      <th class="first-col">&nbsp;</th>
      <th ng-repeat="(probe, probeData) in scan.baseResults">
        <div title="{{probe}}" 
          data-content="{{probeData.version || 'No version information available'}}" 
          data-trigger="hover"
          data-placement="bottom"
          bs-popover
        >
          <div class="probe-name">{{probe}}</div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(id, file) in scan.results">
      <th>
        {{file.filename}}
      </th>
      <td ng-repeat="(toolName, toolResults) in file.results">
        <ng-switch on="toolResults.result">
          <div class="result" ng-switch-when="null">
            <span boolean-display="true"></span>
          </div>
          <div class="result" ng-switch-when="__loading__">
            <span class="glyphicon glyphicon-time" style="color: #555"></span>
          </div>
          <div class="result" ng-switch-default data-trigger="hover" bs-popover="scan.getPopover(toolName, toolResults)">
            <span boolean-display="false"></span>
          </div>
        </ng-switch>
      </td>
    </tr>
  </tbody>
</table>