<table class="table many-results text-center" ng-if="state.scan.antivirus">
  <thead>
    <tr>
      <th class="first-col">&nbsp;</th>
      <th ng-repeat="(probe, data) in state.scan.antivirusProbes">
        <div title="{{probe}}" 
          data-content="<span>{{data.type}}</span> <br> {{data.version || 'No version information available'}}" 
          data-trigger="hover"
          data-placement="bottom"
          data-html="true"
          bs-popover
        >
          <div class="probe-name">{{probe}}</div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(id, file) in state.scan.antivirus">
      <th>
        {{file.filename}}
      </th>
      <td ng-repeat="(toolName, toolResults) in file.results">
        <div data-trigger="hover" bs-popover="state.scan.getPopover(toolName, toolResults)" data-placement="bottom">
          <ng-switch on="toolResults.status">
            <div class="result" ng-switch-when="loading">
              <span class="glyphicon glyphicon-time"></span>
            </div>
            <div class="result" ng-switch-when="0">
              <span boolean-display="true"></span>
            </div>
            <div class="result" ng-switch-when="1">
              <span boolean-display="false"></span>
            </div>
            <div class="result" ng-switch-default>
              <span class="glyphicon glyphicon-exclamation-sign" style="color: #f0ad4e ;"></span>
            </div>
          </ng-switch>
        </div>
      </td>
    </tr>
  </tbody>
</table>

