<div class="row">
  <div class="col-md-9" role="main">
    <p><a href="/scan/{{state.scan.id}}">Back to the scan summary</a></p>

    <h2 id="file-informations">File informations</h2>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th>Filename</th>
          <td>{{vm.results.file_infos.name}}</td>
        </tr>
        <tr>
          <th>Size (bytes)</th>
          <td>{{vm.results.file_infos.size}}</td>
        </tr>
        <tr>
          <th>MD5</th>
          <td>{{vm.results.file_infos.md5}}</td>
        </tr>
        <tr>
          <th>SHA256</th>
          <td>{{vm.results.file_infos.sha256}}</td>
        </tr>
        <tr>
          <th>First Scan</th>
          <td>{{vm.results.file_infos.timestamp_first_scan | amDateFormat:'lll'}}</td>
        </tr>
        <tr>
          <th>Last Scan</th>
          <td>{{vm.results.file_infos.timestamp_last_scan | amDateFormat:'lll'}}</td>
        </tr>
      </tbody>
    </table>

    <div ng-repeat="(probe_type_name, results) in vm.results.probe_results">
      <h2 id="{{probe_type_name}}">{{probe_type_name | capitalize:'first'}}</h2>

      <div ng-switch on="probe_type_name">
        <div ng-switch-when="antivirus">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Duration (in sec)</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(id, output) in results" ng-class="(output.status == 0) ? 'success' : 'danger'">
                <th>{{output.name}}</th>
                <td>{{output.version}}</td>
                <td>{{output.duration}}</td>
                <td>{{output.results}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-switch-when="metadata">
          <h3 id="{{output.name}}" ng-repeat-start="(id, output) in results">{{output.name}} <small>{{output.version}}</small></h3>

          <pre ng-repeat-end>
            <json-explorer collapsed="false" json-data="{{output.results}}"></json-explorer>
          </pre>
        </div>

        <div ng-switch-default>
          <h3 id="{{output.name}}" ng-repeat="(id, output) in results">{{output.name}} <small>{{output.version}}</small></h3>

          <pre ng-repeat-end>
            {{output.results}}
          </pre>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="bs-sidebar hidden-print hidden-sm hidden-xs" role="complementary" data-offset-top="-80" bs-affix>
      <ul class="nav" bs-scrollspy-list>
        <li><a href="#file-informations">File informations</a></li>

        <li ng-repeat="(probe_type_name, results) in vm.results.probe_results">
          <a href="#{{probe_type_name}}">{{probe_type_name| capitalize:'first'}}</a>
          <ul class="nav">
            <li ng-repeat="probe in results"><a href="#{{probe.name}}">{{probe.name}}</a></li>
          </ul>
        </li>
      </ul>
      <a href="#top" class="back-to-top">Back to top</a>
    </div>
  </div>
</div>
