<div class="row">
  <div class="col-md-9" role="main">
    <p><a href="/scan/{{state.scan.id}}">Back to the scan summary</a></p>

    <div class="result-section">
      <h2 id="file-informations">File informations</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Filename</th>
            <td>{{vm.results.file_infos.name}}</td>
          </tr>
          <tr>
            <th>Size (bytes)</th>
            <td>{{vm.results.file_infos.size}}</td>
          </tr>
          <tr>
            <th>MD5</th>
            <td>{{vm.results.file_infos.md5}}</td>
          </tr>
          <tr>
            <th>SHA256</th>
            <td>{{vm.results.file_infos.sha256}}</td>
          </tr>
          <tr>
            <th>First Scan</th>
            <td>{{vm.results.file_infos.timestamp_first_scan | amDateFormat:'lll'}}</td>
          </tr>
          <tr>
            <th>Last Scan</th>
            <td>{{vm.results.file_infos.timestamp_last_scan | amDateFormat:'lll'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-repeat="(probe_type_name, results) in vm.results.probe_results" class="result-section">
      <h2 id="{{probe_type_name | lowercase}}">{{probe_type_name | capitalize:'first'}}</h2>

      <div ng-switch on="probe_type_name">
        <div ng-switch-when="antivirus">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Result</th>
                <th>Version</th>
                <th>Duration (in secs)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(id, output) in results" ng-class="(output.status == 0) ? 'success' : (output.status == 1) ? 'danger' : 'warning' ">
                <th>{{output.name}}</th>
                <td ng-if="output.status == 1">{{output.results}}</td>
                <td ng-if="output.status == 0"></td>
                <td ng-if="output.status == -1"><i style="text-align: center;" class="glyphicon glyphicon-exclamation-sign" title="Antivirus scan ended up in an error state :("></i></td>
                <td>{{output.version}}</td>
                <td>{{output.duration}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-switch-when="metadata">
          <h3 id="{{output.name | lowercase}}" ng-repeat-start="(id, output) in results">{{output.name}} <small>{{output.version}}</small></h3>
          <h5>Responded in {{output.duration}} s</h5>

          <div ng-switch on="output.status" ng-repeat-end>
            <pre ng-switch-when="1"><json-explorer collapsed="false" json-data="{{output.results}}"></json-explorer></pre>

            <div ng-switch-when="0" class="bs-callout bs-callout-warning">
              <h4>Warning:</h4>
              <samp>"{{output.results}}"</samp>
            </div>

            <div ng-switch-when="-1" class="bs-callout bs-callout-danger">
              <h4>Error:</h4>
              <samp>"{{output.error}}"</samp>
            </div>
          </div>
        </div>

        <div ng-switch-when="external">
          <h3 id="{{output.name | lowercase}}" ng-repeat-start="(id, output) in results">{{output.name}} <small>{{output.version}}</small></h3>
          <h5>Responded in {{output.duration}} s</h5>
          <h5 ng-show="output.external_url">Full result is available <a href="{{output.external_url}}">here <span class="glyphicon glyphicon-new-window"></span></a>.</h5>

          <div ng-switch on="output.status" ng-repeat-end>
            <pre ng-switch-when="1">{{output.results}}</pre>

            <div ng-switch-when="0" class="bs-callout bs-callout-warning">
              <h4>Warning:</h4>
              <samp>"{{output.results}}"</samp>
            </div>

            <div ng-switch-when="-1" class="bs-callout bs-callout-danger">
              <h4>Error:</h4>
              <samp>"{{output.error}}"</samp>
            </div>

          </div>
        </div>

        <div ng-switch-default>
          <h3 id="{{output.name | lowercase}}" ng-repeat-start="(id, output) in results">{{output.name}} <small>{{output.version}}</small></h3>
          <h5>Responded in {{output.duration}} s</h5>

          <div ng-switch on="output.status" ng-repeat-end>
            <div ng-switch-when="-1" class="bs-callout bs-callout-danger">
              <h4>Error:</h4>
              <samp>"{{output.error}}"</samp>
            </div>

            <pre ng-switch-default>{{output.results}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="bs-sidebar hidden-print hidden-sm hidden-xs" role="complementary" data-offset-top="-80" bs-affix>
      <ul class="nav" bs-scrollspy-list>
        <li><a href="#file-informations">File informations</a></li>

        <li ng-repeat="(probe_type_name, results) in vm.results.probe_results">
          <a href="#{{probe_type_name | lowercase}}">{{probe_type_name| capitalize:'first'}}</a>
          <ul class="nav">
            <li ng-repeat="probe in results"><a href="#{{probe.name | lowercase}}">{{probe.name}}</a></li>
          </ul>
        </li>
      </ul>
      <a href="#top" class="back-to-top">Back to top</a>
    </div>
  </div>
</div>
