<div class="scan">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="progress-wrapper">
                <div class="progress-rounded-text">{{ state.scan.scanProgress.progress | number:0 }}%</div>
                <div
                     round-progress
                     max="100"
                     current="state.scan.scanProgress.progress"
                     color="#45ccce"
                     bgcolor="#eaeaea"
                     radius="75"
                     semi="false"
                     stroke="20">
                </div>
            </div>
        </div>
        <div class="col-md-8" id="scan-infos">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Scan status:</label>
                    <div class="col-sm-9 form-control-static">
                        <span ng-switch on="state.scan.status">
                            <span ng-switch-when="3" class="label label-danger">Error</span>
                            <span ng-switch-when="2" class="label label-success">Finished</span>
                            <span ng-switch-when="1" class="label label-info">Running</span>
                            <span ng-switch-default class="label  label-default">Stopped</span>
                        </span>
                    </div>
                </div>

                <div class="form-group scan-id">
                    <label for="scan-id" class="col-sm-3 control-label">Scan Id:</label>
                    <div class="col-sm-6">
                      <strong>{{state.scan.id}}</strong>
                      <small>You can share this scan by linking the current url</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tasks:</label>
                    <div class="col-sm-9 form-control-static">
                        {{state.scan.scanProgress.finished}} / {{state.scan.scanProgress.total}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-warning" ng-disabled="state.scan.status == vm.scanStatusCodes.FINISHED" ng-click="vm.cancel()">Cancel</button>
                        <button type="button" class="btn btn-success" ng-click="vm.newScan()">New Scan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1 scan-files-details">
        <table class="table table-condensed table-hover" id="result-table">
            <thead>
                <tr>
                    <th class="title">Files details<small> (Click to display a file details)</small></th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="infos in state.scan.results">
                    <td>
                        <a href="/scan/{{state.scan.id}}/file/{{infos.result_id}}">{{infos.name}}</a>
                    </td>
                    <td>
                        <span class="label" ng-class="(infos.status == 0) ? 'label-success' : 'label-danger'">{{infos.probes_finished}} / {{infos.probes_total}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
