<div class="scan">
  <div class="row text-center scan-progress">
    <h2>
      Scan status:
      <span ng-switch on="state.scan.status">
        <span ng-switch-when="1" class="label label-info">Running</span>
        <span ng-switch-when="2" class="label label-success">Finished</span>
        <span ng-switch-default class="label  label-default">Started</span>
      </span>
    </h2>

    <p>You can share this report with the <a href="{{vm.scanUrl}}">url</a>, or with this id: <strong>{{state.scan.id}}</strong></p>

    <div class="col-md-2 col-md-offset-3"><strong>Total : </strong> {{state.scan.scanProgress.total}}</div>
    <div class="col-md-2"><strong>Successful : </strong> {{state.scan.scanProgress.successful}}</div>
    <div class="col-md-2"><strong>Finished : </strong> {{state.scan.scanProgress.finished}}</div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{state.scan.scanProgress.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{state.scan.scanProgress.progress}}%;">
        <span class="sr-only">{{state.scan.scanProgress.progress}}% Complete</span>
      </div>
    </div>

    <p>
      <button class="action btn btn-lg btn-warning" ng-disabled="state.scan.status == vm.scanStatusCodes.FINISHED" ng-click="vm.cancel()">Cancel</button>
      <button class="action btn btn-lg btn-success" ng-click="vm.newScan()">New Scan</button>
    </p>
  </div>

  <table class="table many-results text-center">
    <thead>
      <tr>
        <th class="first-col">&nbsp;</th>
        <th><div class="probe-name">Results</div></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(id, infos) in state.scan.results">
        <td>
          <a href="/scan/{{state.scan.id}}/file/{{id}}">{{infos.filename}}</a>
        </td>
        <td>
          <span class="label" ng-class="(infos.status == 0) ? 'label-success' : 'label-danger'">{{infos.tools_finished}} / {{infos.tools_total}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
