Source: irma-frontend
Section: python
Priority: extra
Maintainer: irma <irma@quarkslab.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://irma.quarkslab.com

Package: irma-frontend-app
Architecture: all
Depends: ${misc:Depends}, python, python-pip, mongodb, python-gridfs, python2.7-dev
Description: IRMA Frontend application

Package: irma-frontend-uwsgi
Architecture: all
Depends: ${misc:Depends}, irma-frontend-app, uwsgi, uwsgi-plugin-python
Description: IRMA Frontend REST API uwsgi
 IRMA Frontend Python-based REST API uwsgi

Package: irma-frontend-nginx
Architecture: all
Depends: nginx, irma-frontend-uwsgi, ${misc:Depends}
Description: IRMA Frontend nginx configuration
 Setup the frontend interface with nginx

Package: irma-frontend-rsyslog
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rsyslog, rsyslog-gnutls
Description: rsyslog client for IRMA frontend

Package: irma-frontend-logrotate
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rsyslog
Description: logrotate configuration for IRMA frontend

Package: irma-frontend
Architecture: all
Depends: irma-frontend-app, irma-frontend-uwsgi, irma-frontend-nginx, ${shlibs:Depends}, ${misc:Depends}
Recommends: irma-frontend-rsyslog, irma-frontend-logrotate, 
Description: IRMA Frontend Meta-package
