Source: irma-brain
Section: python
Priority: extra
Maintainer: irma <irma@quarkslab.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://irma.quarkslab.com

Package: irma-rsyslog-server
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rsyslog
Description: Rsyslog server configuration for IRMA

Package: irma-brain-rsyslog
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rsyslog, rsyslog-gnutls
Description: rsyslog client for IRMA brain

Package: irma-brain-logrotate
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rsyslog
Description: logrotate configuration for IRMA brain

Package: irma-brain-app
Architecture: all
Depends: ${misc:Depends}, debconf, python, python-pip, python-all-dev
Description: IRMA Brain application
Replaces: irma-brain-celery

Package: irma-brain-ftpd
Architecture: all
Depends: ${misc:Depends}, debconf, pure-ftpd, openssl
Description: FTPs server for IRMA Brain

Package: irma-brain-rabbitmq
Architecture: all
Depends: ${misc:Depends}, debconf, rabbitmq-server
Description: RabbitMQ server configuration for IRMA Brain

Package: irma-brain
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, irma-brain-app, irma-brain-rabbitmq, irma-brain-ftpd
Recommends: irma-brain-rsyslog, irma-brain-logrotate
Description: IRMA Brain meta-package
