Source: irma-brain
Section: python
Priority: extra
Maintainer: irma <irma@quarkslab.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://github.com/quarkslab/irma-brain.git

Package: irma-brain-celery
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-pip
Description: Irma Brain Celery 
 Irma Brain celery worker code

Package: irma-brain-ftpd
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, pure-ftpd, openssl
Description: Irma Brain Ftp server
 Irma Brain ftp server to route file from
 frontend to probe(s). See install dir for
 user creation script.

Package: irma-brain-rabbitmq
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rabbitmq-server
Description: Irma Brain RabbitMQ server
 Irma Brain rabbitmq server. See install
 dir for user/frontend creation script

Package: irma-brain-redis
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, redis-server
Description: Irma Brain Redis server
 Irma Brain redis server. Backend for
 celery.
