#!/bin/sh

# $1 = action ('configure' or 'reconfigure')
# $2 = current-installed-version

set -e

action="$1"
cur_version="$2"

# reset database if reconfigure
if [ "$action" = "reconfigure" ]; then
    # use helper script to purge
    if [ -e /usr/share/debconf/confmodule ]; then
        . /usr/share/debconf/confmodule || exit
        db_purge || true
    fi
    (echo PURGE | debconf-communicate) || true
fi

# if we do not have debconf, we just skip this
. /usr/share/debconf/confmodule || exit

# configure accounts for brain
db_input high irma-brain-rabbitmq/brain_vhost || true
db_input high irma-brain-rabbitmq/brain_user || true
db_input high irma-brain-rabbitmq/brain_password || true

# configure accounts for probes
db_input high irma-brain-rabbitmq/probe_vhost || true
db_input high irma-brain-rabbitmq/probe_user || true
db_input high irma-brain-rabbitmq/probe_password || true

# configure accounts for probes
db_input high irma-brain-rabbitmq/frontend_vhost || true
db_input high irma-brain-rabbitmq/frontend_user || true
db_input high irma-brain-rabbitmq/frontend_password || true
db_go || true
