[log]
syslog = 1

[mongodb]
host = 127.0.0.1
port = 27017
dbname = irma

[collections]
scan_info = scan_info
scan_results = scan_res
scan_ref_results = scan_ref_res
scan_files = scan_files
scan_filedata = scan_filedata
scan_file_fs = fs

[broker_brain]
host = 127.0.0.1
vhost = mqbrain
username = brain
password = brain
queue = brain

[broker_frontend]
host = 127.0.0.1
vhost = mqfrontend
username = frontend
password = frontend
queue = frontend

[backend_brain]
host = 127.0.0.1
db = 0

[ftp_brain]
host = 127.0.0.1
username = frontend
password = frontend

[cron_frontend]
clean_db_scan_info_max_age = 100
clean_db_scan_file_max_age = 2
clean_db_cron_hour = 0
clean_db_cron_minute = 0
clean_db_cron_day_of_week = *
