$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
}

/*.btn-primary {
  background-color: #0a7a00;
  border-color: #064700;
}
.btn-primary:hover {
  background-color: #0b8b00;
  border-color: #064700;
}
.btn-primary[disabled] {
  background-color: #0a7a00;
  border-color: #064700;
}*/

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

p {
  color: #999999;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px 20px;
}

.head {
  position: relative;
  margin-bottom: 50px;

  h1 {
    float: left;
    font-weight: 900;
    font-size: 160px;
    line-height: 155px;
    padding-left: 70px;
    font-family: 'Raleway', sans-serif;
  }
  h2 {
    font-weight: 200;
    font-size: 60px;
    line-height: 55px;
    color: #999999;
    padding-left: 500px;
    padding-top: 50px;
    position: relative;
    z-index: 10;
    font-family: 'Raleway', sans-serif;
  }

  &:before{
    content: '&';
    font-size: 250px;
    font-weight: 700;
    color: #dddddd;
    position: absolute;
    right: 80px;
    top: -90px;
    z-index: 0;
  } 
}

.status {
  clear: both;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin: 10px 50px;
  font-family: 'Raleway', sans-serif;

  li {
    font-size: 40px;
    font-weight: 500;
    color: #dddddd;
    padding: 5px 20px;

    &.active {
      color: #333333;
      font-weight: 700;
    }
  }
}

.selection {

  .drop-zone {
    border: 2px dashed #999999;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    margin: 0px 50px;

    &.hover {
      border-color: #333;
    }
  }

  .browse {
    text-align: center;
    margin: 10px;
  }

  .placeholder {
    padding: 40px;
  }

  .files {
    padding-right: 65px;
    table {
      tbody > tr:first-child > td {
        border: none;
      }
      tbody > tr > td:last-child {
        text-align: right;
      }
      .glyphicon-remove {
        color: #d9534f;
      }
    }
  }

  .toggle-advanced {
    text-align: center;
    text-decoration: underline;
    color: #999999;
    margin-bottom: -5px;
    cursor: pointer;
  }

  .advanced-settings {

    width: 600px;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 15px;
    margin: 20px auto 10px;

    h3 {
      font-size: 16px;
      text-align: center;
      span {
        text-decoration: underline;
        color: #999999;
        cursor: pointer;
      }
    }

    .force-scan {
      width: 100px;
      margin: auto;

      label {
        font-weight: normal;
      }
      input {
        position: relative;
        top: 2px;
      }
    }

    .select-probes {
      margin: 0px 10px 10px;

      p {
        color: #333;
        font-size: 15px;
        padding: 0px;
        margin: 0px;

        
      }
      ul {
        text-align: center;
      }
      li {
        border: 1px solid #eee;
        background-color: #fafafa;
        padding: 3px 7px;
        margin: 5px;
        border-radius: 5px;
        text-transform: capitalize;
        color: #999;
        cursor: pointer;

        .glyphicon {
          position: relative;
          top: 2px;
        }
      }
      .active {
        color: #333;
      }
    }
  }
}

.upload {
  .progress {
    width: 700px;
    margin: 20px auto;
    .progress-bar {
      background-color: #999;
    }
  }
}

.scan {
  .progress {
    width: 700px;
    margin: 20px auto;
    .progress-bar {
      background-color: #333;
    }
  }
}

.file-display {

  margin-bottom: 35px;


  h3 {
    margin: 0px;
    padding-left: 250px;
    padding-left: 250px;
    font-family: 'Raleway', sans-serif;
  }
  .results {
    padding-top: 5px;
    margin-top: 5px;
  }
  .probe {
    text-align: right;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
  }
  .version {
    color: #aaa;
    font-size: 0.8em;
  }
  .virus {
    color: #d9534f;
  }
}

