

.file-display {

  margin-bottom: 35px;

  h3 {
    margin: 0px;
    padding-left: 250px;
    padding-left: 250px;
    font-family: 'Raleway', sans-serif;
  }
  .results {
    padding-top: 5px;
    margin-top: 5px;
  }
  .probe {
    text-align: right;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
  }
  .version {
    color: #aaa;
    font-size: 0.8em;
  }
  .virus {
    color: #d9534f;
  }
}

.many-results {
  table-layout: fixed;
  margin-top: 80px;

  .first-col {
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .probe-name {
    .rotate(-45deg);
    position: relative;
    bottom: 35px;
    text-align: center;
  }
}