---

##########################
#
# General IRMA settings
#
##########################

irma_environment: production # Can be (development, test, production)

# In production mode, code is archived through packaging playbook in playbooks/files folder
# You could disable archive automatic generation:
irma_code_archive_generation: False

# AV update mode (automatic, disable)
av_update_mode: automatic

# SSL config
infra_name: Qb
frontend_openssl: True # For HTTPs using OpenSSL change it to True
nginx_http_enabled: False
nginx_https_enabled: True
nginx_https_client_enabled: False
rabbitmq_ssl: False
postgresql_ssl: False

provisioning_ssh_key: files/ssh_keys/vagrant.pub

# Configuration
brain_addr: 172.16.1.31
frontend_addr: localhost
sql_addr: localhost

rmq_admin_password: admin
rmq_brain_password: brain
rmq_frontend_password: frontend
rmq_probe_password: probe

ftpd_frontend_password: frontend
ftpd_probe_password: probe

postgresql_frontend_password: irma

frontend_clean_db_file_max_age: 0
frontend_clean_db_file_max_size: 0
virustotal_private_apikey: False
virustotal_apikey: 88eb8e2f869e98ea9b0367cb47c143cb438a5e8d8dfd3b6e3fb6c898374b8fb6

#########################
#
# Linux Antivirus Params
#
#########################


# Bit Defender Scanner key - Put your licence key here
bitdefender_scanner_key:

# Zoner Antivirus - put you licence key here
# zoner_license_key: XXXXX-XXXXX-XXXXX-XXXXX-XXXXX
zoner_license_key:

# Avast! licence file - Put your licence file here
# avast_license_file: files/license.avastlic
avast_license_file:

# if you have a valid Fsecure licence put it here
# fsecure_license_key: XXXX-XXXX-XXXX-XXXX-XXXX
fsecure_license_key:
# Check the psb server number on your license ([1-4])
# fsecure_psb_server: http://psb1-bw.sp.f-secure.com/
fsecure_psb_server:

# Virusblokada installer url
virusblokada_tgz_url:

# Sophos
sophos_archive_url:
sophos_update_username:
sophos_update_password:

# Eset File Security
eset_file_security_user:
eset_file_security_pwd:
eset_file_security_licence_file:

###########################
#
# Windows Antivirus Params
#
###########################

# Emsisoft A2cmd
emsisoft_win_url:

# Gdata
gdata_win_url:
gdata_win_user:
gdata_win_pass:

# Kaspersky
kav_win_url:
# kav_win_license_key: 'XXXX-XXXX-XXXX-XXXX-XXXX'
kav_win_license_key:

# McAfee
mcafee_win_url:

# Sophos
sophos_win_url:
sophos_win_login:
sophos_win_password:
