<div id="search">
    <div class="row">
        <form class="form-inline" ng-submit="vm.doSearch()" role="form">
            <tags-input
                ng-model="vm.searchedTags"
                add-from-autocomplete-only="true">
                <auto-complete
                    load-on-down-arrow="true"
                    load-on-empty="true"
                    load-on-focus="true"
                    min-length="0"
                    source="vm.loadAvailableTags($query)">
                </auto-complete>
            </tags-input>
            <div class="form-group">
                <select class="form-control" id="type" ng-model="vm.searchedType">
                    <option value="name">By name</option>
                    <option value="hash">By hash</option>
                </select>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" ng-model="vm.searchedStr" placeholder="Type your search here">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Go!</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="row" id="results">
        <table ng-table="vm.tableParams" class="table table-bordered">
            <tr ng-repeat="item in $data">
                <td data-title="'Name'"><a href="/results/{{item.result_id}}">{{item.name}}</a></td>
                <td data-title="'Last seen'">{{item.file_infos.timestamp_last_scan | amDateFormat:'lll'}}</td>
                <td data-title="'SHA256'">{{item.file_infos.sha256}}</td>
                <td data-title="'Size'">{{item.file_infos.size}}</td>
            </tr>
        </table>
    </div>
</div>
